---
import { getCollection } from "astro:content";
const langs = await getCollection("langs");

const { Lang } = Astro.props;
---

<script is:inline src="/js/language.JS"></script>
<section>
    <button class="xd" id="language">{Lang}</button>
    <div id="langList" class="none">
        {
            langs.map((lang) => {
                const { slug, data } = lang;
                const { language, code } = data;

                return (
                    <button class="language" id={code}>
                        {language}
                    </button>
                );
            })
        }
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        z-index: 1000;
    }

    div {
        max-height: 165px;
        overflow-y: scroll;
        border-bottom: 3px solid black;
        animation: openMenu 0.05s linear;
        flex-direction: column;
    }

    .divClose {
        animation: closeMenu 0.05s linear;
    }

    button {
        display: flex;
        justify-content: center;
        border: 3px solid black;
        padding: 15px 0px;
        width: 200px;
    }

    .language {
        border-top: none;
    }

    .languageSelected {
        border-top: none;
        background: rgba(69, 69, 69, 0.7);
        color: white;
    }

    .languageSelected:hover {
        background: rgba(0, 0, 0, 0.7);
        color: white;
    }

    div::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    div::-webkit-scrollbar-track {
        background: #fff0;
    }

    /* Handle */
    div::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 16px;
    }

    /* Handle on hover */
    div::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .xd {
        margin-right: 5px;
    }
    @-moz-document url-prefix() {
        .xd {
            margin-right: 15px;
        }
    }

    @keyframes openMenu {
        0% {
            max-height: 0px;
        }

        50% {
            max-height: 82, 5px;
        }

        100% {
            max-height: 165px;
        }
    }

    @keyframes closeMenu {
        0% {
            max-height: 165px;
        }

        50% {
            max-height: 82, 5px;
        }

        100% {
            max-height: 0px;
        }
    }
</style>
